body{
  background-image: url('https://static.toiimg.com/thumb/msid-70872031,width-1200,height-900,resizemode-4/.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.main{
  margin-top: 100px;
  box-sizing: border-box;
  text-align: -moz-center;
}

button .login{
  display:inline;
}
label{
  color:black;
  width:170px;
  text-align: right;
  padding: 0px;
}
input{
  margin-bottom:10px;
}
form{
  width:500px;
  height: 300px;
  text-align: center;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom:1px solid #dee2e6;
  box-sizing: border-box;
  padding-top: 30px;
}
.justify-content-center {
  justify-content: center !important;
}
ul{
  width:500px;
}
